.wrapper-extended-master-card {
    width: 50%;
}

.extended-master-card {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    /* background: rgba(43, 49, 70, 0.7); */
}

.extended-master-card__appointment div {
    color: white;
    font-size: 20px;
}

.extended-master-card__info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.extended-master-card__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #B11B75;
    margin: 10px;
}

.extended-master-card__img img {
   width: 100%;
   display: block;
}

/* .extended-master-card__img img:hover {
    cursor: pointer;
} */

.extended-master-card__text {
    width: 70%;
    text-align: start;
    color: white;
}

.extended-master-card__text div {
    padding: 2px 0 2px 15px;
    font-size: 18px;
}
