.cearch-form {
    /* border: 1px solid greenyellow; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cearch-form__imgCearch {
    width: 35px;
    height: 35px;
    background: white;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
}

.cearch-form__input{
    width: 70%;
    height: 35px;
    margin: 2px;
}