.wrapper-form-time-registration {
    width: 100%;
}

.form-time-registration {
    border: 10px solid #B11B75;
    width: 90%;
    max-width: 500px;
    background: rgba(43, 49, 70, 0.7);
    margin: 20px auto;
    text-align: center;
}

.form-time-registration__button, .form-time-registration-disable__button  {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #B11B75;
    color: white;
    margin: 17px 10px;
    cursor: pointer;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.8);
}

.form-time-registration__button:hover {
    background-color: #b43f85;
}

.form-time-registration__button:active,
.form-time-registration-disable__button {
    box-shadow: 4px 4px 5px rgba(0,0,0,0);
}

.form-time-registration-disable__button {
    background-color: #686868;
}

@media screen and (max-width: 1200px) {

    .form-time-registration__button, .form-time-registration-disable__button {
        margin: calc(10px + (17 - 10) * ((100vw - 320px) / (1200 - 320)));
        margin: calc(5px + (10 - 5) * ((100vw - 320px) / (1200 - 320)));
    }
}