.form-inputserv {
    width: 100%;
    display: flex;
    align-items: center;
}

.form-inputserv__label {
    width: 80%;
    font-size: 14px;
    color: #ffffff;
    text-align: start;
}

.form-inputserv__label:hover {
    cursor: pointer;
}


.form-inputserv__field {
    width: 20%;
    height: 15px;
    border-radius: 5px;
    border: none;
    text-align: end;
    padding-left: 10px;
    margin: 5px 0 5px 20px;
}