.wrapper-list-ofmasters {
    height: 100%;
    width: 60%;
    min-width: 335px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.cearch-form {
    width: 100%;
}

@media screen and (max-width: 710px) {
    .wrapper-list-ofmasters {
        height: 300px;
    }

   
}