.client-form-without-making-appointment {
    border: 10px solid rgba(0, 0, 0, 0.3);
    background: rgba(43, 49, 70, 0.7);
}

.information-client-appointment div {
    margin: 3px 7px;
    color: #ffffff;
}