* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

.App {
  background: url(./Backgrounds_Purple_texture.jpg) top / cover no-repeat;
  height: 100vh;
  padding-top: 2%;
}

.App-wrapper {
  /* border: 1px solid rgb(139, 139, 182); */
  max-width: 1200px;
  height: 90vh;
  margin: 0 auto;
}