.style-btn, .style-btn-reg, .style-btn-client-appointment, .cearch-form__btn {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    background-color: #B11B75;
    color: white;
    margin: 20px 0 40px 0;
    cursor: pointer;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.8);
}

.style-btn:hover, .style-btn-reg:hover, .style-btn-client-appointment:hover, .cearch-form__btn:hover {
    background-color: #b43f85;
}

.style-btn:active, .style-btn-reg:active, .style-btn-client-appointment:active, .cearch-form__btn:active {
    box-shadow: 4px 4px 5px rgba(0,0,0,0.0);
}

.style-btn-reg {
    width: 270px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.style-btn-client-appointment {
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
}

.cearch-form__btn {
    width: 100px;
    height: 35px;
    font-size: 18px;
    margin: 2px;
}

@media screen and (max-width: 1300px) {

    .style-btn, .style-btn-reg {
        width: calc(80px + (120 - 80) * ((100vw - 320px) / (1300 - 320)));
        height: calc(30px + (45 - 30) * ((100vw - 320px) / (1300 - 320)));
        font-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1300 - 320)));
        margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1300 - 320)));
        margin-bottom: calc(15px + (40 - 15) * ((100vw - 320px) / (1300 - 320)));
    }

    .style-btn-reg {
        width: calc(200px + (270 - 200) * ((100vw - 320px) / (1300 - 320)));
    }

    .cearch-form__btn {
        width: calc(80px + (100 - 80) * ((100vw - 320px) / (1300 - 320)));
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1300 - 320)));
    }
}