.home-page {
    border: 10px solid rgb(177, 27, 117);
    height: 84vh;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    box-shadow: 6px -6px 5px rgba(0,0,0,0.8);
}

.home-page__welcome {
    color: #ffffff;
    width: 40%;
    min-width: 300px;
}

.home-page__welcome h1, .home-page__welcome h2 {
    text-align: center;
    padding: 10px;
    font-size: 45px;
}

.home-page__welcome h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.home-page__welcome p {
    font-size: 20px;
    padding: 10px;
}

@media screen and (max-width: 710px) {
    .home-page {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1300px) {

    .home-page {
        padding-top: 0px;
        align-content: flex-start;
    }

    .home-page__welcome h1 {
        font-size: calc(30px + (45 - 30) * ((100vw - 320px) / (1300 - 320)));
    }

    .home-page__welcome h2 {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1300 - 320)));
        padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1300 - 320)));
    }

    .home-page__welcome p {
        font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1300 - 320)));
        padding: calc(3px + (10 - 3) * ((100vw - 320px) / (1300 - 320)));
    }
}