.home-page {
    border: 10px solid rgb(177, 27, 117);
    height: 84vh;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    box-shadow: 6px -6px 5px rgba(0,0,0,0.8);
}

.home-page__welcome {
    /* border: 1px solid blueviolet; */
    color: #ffffff;
    width: 40%;
}

.home-page__welcome h1, .home-page__welcome h2 {
    text-align: center;
    padding: 10px;
    font-size: 45px;
}

.home-page__welcome h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.home-page__welcome p {
    font-size: 20px;
    padding: 10px;
}

.home-page__login {
    /* border: 1px solid red; */
}